.container{
    padding: 25px;
    position: relative;
    display: flexbox;
    background-color: whitesmoke;
}

table, th, td {
	border: 1px black solid;
}

table {
    border-collapse: collapse;
    border-spacing: 10px 10px;
    width: 100%;
}

th {
    height: 30px;
    text-align: left;
    background-color: steelblue;
    color: white;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid black;
}

td {
    text-align: center;
    height: 40px;
    vertical-align: bottom;
}

tr:hover {
    background-color: lightblue;
}

tr:nth-child(even) {
    background-color: lightgray;
}

tr:nth-child(even):hover{
    background-color: lightblue;
}

a:hover{
    color:white;
}

.sort{
    border: none;
    color: lightgray;
    background-color: steelblue;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 8px;
    cursor: pointer;
}